body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #b4a5a5, #ece1df);
}

.container {
  text-align: center;
}

#wheelContainer {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 500px;
  background-color: #efd6d4;
  border-radius: 50%;
}

canvas {
  border: 2px solid #483737;
  border-radius: 50%;
}

#pointer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgb(156, 13, 13);
  transform: translate(-50%, -50%);
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #af9288;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b5a89d;
}

input[type="number"] {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #af9288;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

input[type="number"]:focus {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}

